{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "Wild Apricot API for non-administrative access",
    "description" : "Wild Apricot API for non-administrative access",
    "version" : "8.10.0"
  },
  "servers" : [ {
    "url" : "https://api.wildapricot.org/publicview/v1"
  } ],
  "security" : [ {
    "OAuth2_autorizationCode" : [ ]
  }, {
    "OAuth2_password" : [ ]
  } ],
  "paths" : {
    "/" : {
      "get" : {
        "summary" : "Base URL for this API.",
        "description" : "Base URL for this API. It provides a list of resources,\nwhich can be directly accessed by URL without providing any additional\ninformation like account ID etc.\n",
        "responses" : {
          "200" : {
            "description" : "Array of resources",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Resource"
                  },
                  "x-content-type" : "application/json"
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Resource"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "oAuth token was not provided, invalid or does not provide access to requested URL."
          }
        }
      }
    },
    "/accounts" : {
      "get" : {
        "tags" : [ "Accounts" ],
        "summary" : "List of available accounts",
        "description" : "List of accounts available with current oAuth token. Typically, there would be only one record in an array.\n",
        "responses" : {
          "200" : {
            "description" : "Array of accounts",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Account"
                  },
                  "x-content-type" : "application/json"
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Account"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "oAuth token was not provided, invalid or does not provide access to requested URL."
          },
          "429" : {
            "description" : "On too many requests from same account. Wait for a minute and try again."
          }
        }
      }
    },
    "/accounts/{accountId}" : {
      "get" : {
        "tags" : [ "Accounts" ],
        "summary" : "Details for specific account",
        "description" : "Details for specific account\n",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Your account identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number",
            "format" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Array of accounts",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Account"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Account"
                }
              }
            }
          },
          "401" : {
            "description" : "oAuth token was not provided, invalid or does not provide access to requested URL."
          },
          "429" : {
            "description" : "On too many requests from same account. Wait for a minute and try again."
          }
        }
      }
    },
    "/accounts/{accountId}/contacts" : {
      "get" : {
        "tags" : [ "Contacts" ],
        "summary" : "Contacts list",
        "description" : "\nRetrieves or updates contact information. Results can be filtered using filter criteria consisting of fields, operators, and values.\nLarge lists can be retrieved with in sets or pages using $top and $skip parameters.\n",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Current account identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number",
            "format" : "integer"
          }
        }, {
          "name" : "simpleQuery",
          "in" : "query",
          "description" : "A search string used to filter contacts list.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "An expression to filter contacts. Possible field names to filter contacts are\n**Id** - A list of contact IDs. Supports operation **in**. E.g. `$filter=Id in [1,3,5,7,9]`\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "Fields to be returned for each contact. If not specified, no custom fields will be returned.\nThe field names correspond to the fields returned by the [ContactFields API call](#/Contacts/get_accounts__accountId__contactfields), not the field names that appear in Wild Apricot. Multiple field names are separated by commas, and field names with spaces or special characters are enclosed in single quotation marks.\nExample `$select='First name','Last name','My favorite book'`\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "This parameter specifies the number of records to be skipped. For example, if the result set contains 200 records and $skip=50, then the call will return records 51 to 150.\n\nUsually used together with **$top** parameter.\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Specifies the maximum number of records to be returned. For example, if the result set contains 100 records and $top=50, then the call will return records from 1 to 50. If omitted or set more than 100 then maximum 100 items returned\nUsually this parameter used together with $skip parameter.\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$count",
          "in" : "query",
          "description" : "Append this parameter to a search request to retrieve the number of contacts returned by the search.\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "ids",
          "in" : "query",
          "description" : "Retrieve specific contacts.\n\nE.g. `ids=1,2,3`\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "idsOnly",
          "in" : "query",
          "description" : "If specified, the call returns a list of contact IDs for the filtered contacts. In this case, the response will contain only the ContactIdentifiers field.\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A wrapper object, which contains a list of contacts, or the number of contacts, or a list of contact IDs.\n",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContactsResponse"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContactsResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "On invalid parameters. See error details in response body.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "oAuth token was not provided, invalid or does not provide access to requested URL."
          },
          "428" : {
            "description" : "Current user should accept terms of use before using API. It can be done in web interface, or by making a POST request to /rpc/{accountId}/acceptTermsOfUse"
          },
          "429" : {
            "description" : "On too many requests from same account. Wait for a minute and try again."
          }
        }
      }
    },
    "/accounts/{accountId}/contacts/me" : {
      "get" : {
        "tags" : [ "Contacts" ],
        "summary" : "Retrieve information about the current user",
        "description" : "Retrieve information about the current user. FieldValues would not be returned in a result.\n",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Your account identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number",
            "format" : "integer"
          }
        }, {
          "name" : "includeDetails",
          "in" : "query",
          "description" : "Append this parameter to a search request to retrieve additional information for current user, including FieldValues.\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The current user information has been updated\n",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContactMe"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContactMe"
                }
              }
            }
          },
          "401" : {
            "description" : "oAuth token was not provided, invalid or does not provide access to requested URL."
          },
          "428" : {
            "description" : "Current user should accept terms of use before using API. It can be done in web interface, or by making a POST request to /rpc/{accountId}/acceptTermsOfUse"
          },
          "429" : {
            "description" : "On too many requests from same account. Wait for a minute and try again."
          }
        }
      },
      "put" : {
        "tags" : [ "Contacts" ],
        "summary" : "Update the current user information",
        "description" : "Update the current user information. Pass the fieldValues those need to be changed.\n",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Your account identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number",
            "format" : "integer"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Contact"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Brief information about the current user\n",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Contact"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Contact"
                }
              }
            }
          },
          "401" : {
            "description" : "oAuth token was not provided, invalid or does not provide access to requested URL."
          },
          "428" : {
            "description" : "Current user should accept terms of use before using API. It can be done in web interface, or by making a POST request to /rpc/{accountId}/acceptTermsOfUse"
          },
          "429" : {
            "description" : "On too many requests from same account. Wait for a minute and try again."
          }
        }
      }
    },
    "/accounts/{accountId}/contacts/{contactId}" : {
      "get" : {
        "tags" : [ "Contacts" ],
        "summary" : "Retrieve information about specific member or contact",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Your account identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number",
            "format" : "integer"
          }
        }, {
          "name" : "contactId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number",
            "format" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Detailed information about requested contact. Field values will be provided with respect to current user permissions and privacy settings.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Contact"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Contact"
                }
              }
            }
          },
          "400" : {
            "description" : "On invalid parameters. See error details in response body.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "oAuth token was not provided, invalid or does not provide access to requested URL."
          },
          "404" : {
            "description" : "Requested item not found."
          },
          "428" : {
            "description" : "Current user should accept terms of use before using API. It can be done in web interface, or by making a POST request to /rpc/{accountId}/acceptTermsOfUse"
          },
          "429" : {
            "description" : "On too many requests from same account. Wait for a minute and try again."
          }
        }
      }
    },
    "/accounts/{accountId}/contactfields" : {
      "get" : {
        "tags" : [ "Contacts" ],
        "summary" : "Detailed list of the common and membership fields.  If a field is not set to be visible to everyone, then the field  will not be included in the results.\n",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Your account identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number",
            "format" : "integer"
          }
        }, {
          "name" : "showSectionDividers",
          "in" : "query",
          "description" : "Specifies whether section dividers should be included in the response.\nDefault value is false.\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Array of common and membership field descriptions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContactField"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContactField"
                }
              }
            }
          },
          "400" : {
            "description" : "On invalid parameters. See error details in response body.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "oAuth token was not provided, invalid or does not provide access to requested URL."
          },
          "428" : {
            "description" : "Current user should accept terms of use before using API. It can be done in web interface, or by making a POST request to /rpc/{accountId}/acceptTermsOfUse"
          },
          "429" : {
            "description" : "On too many requests from same account. Wait for a minute and try again."
          }
        }
      }
    },
    "/accounts/{accountId}/attachments/{attachmentId}" : {
      "get" : {
        "tags" : [ "Attachments" ],
        "summary" : "Download attachment",
        "description" : "Attachment, available for specific account.",
        "operationId" : "GetAttachmentContent",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Your account identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number",
            "format" : "integer"
          }
        }, {
          "name" : "attachmentId",
          "in" : "path",
          "description" : "Attachment identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "size",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "Original", "Small", "Medium", "Medium1", "Large" ]
          }
        }, {
          "name" : "fieldSystemCode",
          "in" : "query",
          "description" : "SystemCode of attachement field which the attachment belongs to.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "contactId",
          "in" : "query",
          "description" : "ID of contact which the attachment belongs to.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "eventRegistrationId",
          "in" : "query",
          "description" : "ID of event registration which the attachment belongs to.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "asBase64",
          "in" : "query",
          "description" : "Base64 encoded image will be returned.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Response is common HttpResponseMessage with content set to attachment binary data.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary",
                  "x-content-type" : "application/json"
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          },
          "400" : {
            "description" : "On invalid parameters. See error details in response body.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "oAuth token was not provided, invalid or does not provide access to requested URL."
          },
          "404" : {
            "description" : "Requested item not found."
          },
          "429" : {
            "description" : "On too many requests from same account. Wait for a minute and try again."
          }
        }
      }
    },
    "/accounts/{accountId}/attachments/GetInfos" : {
      "get" : {
        "tags" : [ "Attachments" ],
        "summary" : "Get attachments infos belongs to a field value",
        "description" : "Attachment infos, available for specific account.",
        "operationId" : "GetAttachmentInfos",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Your account identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number",
            "format" : "integer"
          }
        }, {
          "name" : "fieldSystemCode",
          "in" : "query",
          "description" : "SystemCode of attachement field which the attachment belongs to.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "contactId",
          "in" : "query",
          "description" : "ID of contact which the attachment belongs to.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "eventRegistrationId",
          "in" : "query",
          "description" : "ID of event registration which the attachment belongs to.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "An array of attachment descriptions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/FileInfo"
                  },
                  "x-content-type" : "application/json"
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/FileInfo"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "On invalid parameters. See error details in response body.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "oAuth token was not provided, invalid or does not provide access to requested URL."
          },
          "404" : {
            "description" : "Requested item not found."
          },
          "429" : {
            "description" : "On too many requests from same account. Wait for a minute and try again."
          }
        }
      }
    },
    "/accounts/{accountId}/attachments/Upload" : {
      "post" : {
        "tags" : [ "Attachments" ],
        "summary" : "Upload attachments",
        "description" : "Upload attachments data and get their identifiers to use for contact values.  Attachment not used for any Contact field value will be deleted in 30 minutes.\n",
        "operationId" : "UploadAttachments",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Your account identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number",
            "format" : "integer"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AttachmentDataList"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "An array of attachment descriptions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/FileInfo"
                  },
                  "x-content-type" : "application/json"
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/FileInfo"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "On invalid parameters. See error details in response body.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "oAuth token was not provided, invalid or does not provide access to requested URL."
          },
          "429" : {
            "description" : "On too many requests from same account. Wait for a minute and try again."
          }
        }
      }
    },
    "/accounts/{accountId}/membershiplevels" : {
      "get" : {
        "tags" : [ "Contacts" ],
        "summary" : "List of membership levels visible to the current user.",
        "description" : "---\n",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Your account identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number",
            "format" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Array of level descriptions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MembershipLevel"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MembershipLevel"
                }
              }
            }
          },
          "401" : {
            "description" : "oAuth token was not provided, invalid or does not provide access to requested URL."
          },
          "428" : {
            "description" : "Current user should accept terms of use before using API. It can be done in web interface, or by making a POST request to /rpc/{accountId}/acceptTermsOfUse"
          },
          "429" : {
            "description" : "On too many requests from same account. Wait for a minute and try again."
          }
        }
      }
    },
    "/accounts/{accountId}/events" : {
      "get" : {
        "tags" : [ "Events" ],
        "summary" : "Retrieve list of events visible to the current user.",
        "description" : "Retrieve list of events visible to the current user.",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Your account identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number",
            "format" : "integer"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "An expression to filter events. Possible field names to filter events are\n\n**Id** - A list of event IDs. Supports operation **in**. E.g. `$filter=Id in [1,3,5,7,9]`\n\n**RegistrationEnabled** - Indicates whether registration has been enabled for the event. Supports operations **eq** and **ne**. E.g. `RegistrationEnabled eq true`\n\n**IsUpcoming** - Indicates whether the event has yet to take place. Supports operations **eq** and **ne**. E.g. `IsUpcoming eq false`\n\n**StartDate** - The start date of the event (using the yyyy-mm-dd date format). Supports operations **eq**, **ne**, **gt**, **ge**, **lt**, **le**. E.g. `StartDate gt 2016-01-02`\n\n**EndDate** - The end date of the event (using  the  yyyy-mm-dd date format). Supports operations **eq**, **ne**, **gt**, **ge**, **lt**, **le**. E.g. `EndDate le 2016-01-02`\n\n**TextIndex** - Returns events that contain the specified string within the event title, description, location, start date, or event tag. Supports operation **substringof**. E.g. `$filter=substringof(TextIndex,'some text to look for')`\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "This parameter specifies the number of records to be skipped. For example, if the result set contains 100 records and $skip=50, then the call will return records 51 to 150.\n\nUsually used together with **$top** parameter.\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Specifies the maximum number of records to be returned. For example, if the result set contains 100 records and $top=50, then the call will return records from 1 to 50. If omitted or set more than 100 then maximum 100 items returned.\nUsually this parameter used together with $skip parameter.\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$count",
          "in" : "query",
          "description" : "Append this parameter to a search request to retrieve the number of items.\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "idsOnly",
          "in" : "query",
          "description" : "If specified, the call returns a list of event IDs for the filtered events. In this case, the response will contain only the EventsIdentifiers field.\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns list of filtered events",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventsResponse"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventsResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "On invalid parameters. See error details in response body.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "oAuth token was not provided, invalid or does not provide access to requested URL."
          },
          "428" : {
            "description" : "Current user should accept terms of use before using API. It can be done in web interface, or by making a POST request to /rpc/{accountId}/acceptTermsOfUse"
          },
          "429" : {
            "description" : "On too many requests from same account. Wait for a minute and try again."
          }
        }
      }
    },
    "/accounts/{accountId}/events/{eventId}" : {
      "get" : {
        "tags" : [ "Events" ],
        "summary" : "Retrieve details for specific event",
        "description" : "Retrieve details for specific event",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Your account identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number",
            "format" : "integer"
          }
        }, {
          "name" : "eventId",
          "in" : "path",
          "description" : "Unique event identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns list of filtered events",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Event"
                  },
                  "x-content-type" : "application/json"
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Event"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "oAuth token was not provided, invalid or does not provide access to requested URL."
          },
          "404" : {
            "description" : "Requested item not found."
          },
          "428" : {
            "description" : "Current user should accept terms of use before using API. It can be done in web interface, or by making a POST request to /rpc/{accountId}/acceptTermsOfUse"
          },
          "429" : {
            "description" : "On too many requests from same account. Wait for a minute and try again."
          }
        }
      }
    },
    "/accounts/{accountId}/eventregistrations" : {
      "get" : {
        "tags" : [ "Event registrations" ],
        "summary" : "Retrieve list of event registrations for current contact.",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Your account identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number",
            "format" : "integer"
          }
        }, {
          "name" : "eventId",
          "in" : "query",
          "description" : "ID of event to retrieve registrations for",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "parentRegistrationId",
          "in" : "query",
          "description" : "ID of event registration to retrieve dependant registrations for",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns list of event registrations for current contact.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/EventRegistration"
                  },
                  "x-content-type" : "application/json"
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/EventRegistration"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "On invalid parameters. See error details in response body.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "oAuth token was not provided, invalid or does not provide access to requested URL."
          },
          "428" : {
            "description" : "Current user should accept terms of use before using API. It can be done in web interface, or by making a POST request to /rpc/{accountId}/acceptTermsOfUse"
          },
          "429" : {
            "description" : "On too many requests from same account. Wait for a minute and try again."
          }
        }
      },
      "post" : {
        "tags" : [ "Event registrations" ],
        "summary" : "Create new event registration",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Your account identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number",
            "format" : "integer"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EventRegistrationParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "ID of new event registration",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "integer",
                  "x-content-type" : "application/json"
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "integer"
                }
              }
            }
          },
          "400" : {
            "description" : "On invalid parameters. See error details in response body.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "oAuth token was not provided, invalid or does not provide access to requested URL."
          },
          "428" : {
            "description" : "Current user should accept terms of use before using API. It can be done in web interface, or by making a POST request to /rpc/{accountId}/acceptTermsOfUse"
          },
          "429" : {
            "description" : "On too many requests from same account. Wait for a minute and try again."
          }
        }
      }
    },
    "/accounts/{accountId}/eventregistrations/{Id}" : {
      "get" : {
        "tags" : [ "Event registrations" ],
        "summary" : "Retrieve details for specific event registration.",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Your account identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number",
            "format" : "integer"
          }
        }, {
          "name" : "Id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number",
            "format" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Retrieve details for specific event registration.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventRegistration"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventRegistration"
                }
              }
            }
          },
          "401" : {
            "description" : "oAuth token was not provided, invalid or does not provide access to requested URL."
          },
          "404" : {
            "description" : "Requested item not found."
          },
          "428" : {
            "description" : "Current user should accept terms of use before using API. It can be done in web interface, or by making a POST request to /rpc/{accountId}/acceptTermsOfUse"
          },
          "429" : {
            "description" : "On too many requests from same account. Wait for a minute and try again."
          }
        }
      },
      "delete" : {
        "tags" : [ "Event registrations" ],
        "summary" : "Delete own event registration or wait list item.",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Your account identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number",
            "format" : "integer"
          }
        }, {
          "name" : "Id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number",
            "format" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Retrieve details for specific event registration.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventRegistration"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventRegistration"
                }
              }
            }
          },
          "401" : {
            "description" : "oAuth token was not provided, invalid or does not provide access to requested URL."
          },
          "404" : {
            "description" : "Requested item not found."
          },
          "428" : {
            "description" : "Current user should accept terms of use before using API. It can be done in web interface, or by making a POST request to /rpc/{accountId}/acceptTermsOfUse"
          },
          "429" : {
            "description" : "On too many requests from same account. Wait for a minute and try again."
          }
        }
      }
    },
    "/accounts/{accountId}/EventAttendees" : {
      "get" : {
        "tags" : [ "Event registrations" ],
        "summary" : "Retrieve list of public event registration infos (if enabled).",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Your account identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number",
            "format" : "integer"
          }
        }, {
          "name" : "eventId",
          "in" : "query",
          "description" : "ID of event to retrieve registrations for",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "simpleQuery",
          "in" : "query",
          "description" : "A search string used to filter contacts list.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "This parameter specifies the number of records to be skipped. For example, if the result set contains 200 records and $skip=50, then the call will return records 51 to 200.\n\nUsually used together with **$top** parameter.\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Specifies the maximum number of records to be returned. For example, if the result set contains 100 records and $top=50, then the call will return records from 1 to 50. If omitted or set more than 100 then maximum 100 items returned.\nUsually this parameter used together with $skip parameter.\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$count",
          "in" : "query",
          "description" : "Append this parameter to a search request to retrieve the number of items returned by the search.\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "ids",
          "in" : "query",
          "description" : "Retrieve specific event registrations (if allowed).\n\nE.g. `ids=1,2,3`\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "idsOnly",
          "in" : "query",
          "description" : "If specified, the call returns a list of event registration IDs. In this case, the response will contain only the Identifiers field.\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns list of public event registration infos.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventAttendeesResponse"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventAttendeesResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "On invalid parameters. See error details in response body.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "oAuth token was not provided, invalid or does not provide access to requested URL."
          },
          "428" : {
            "description" : "Current user should accept terms of use before using API. It can be done in web interface, or by making a POST request to /rpc/{accountId}/acceptTermsOfUse"
          },
          "429" : {
            "description" : "On too many requests from same account. Wait for a minute and try again."
          }
        }
      }
    },
    "/rpc/{accountId}/CalculateEventRegistrationCosts" : {
      "post" : {
        "tags" : [ "Event registrations" ],
        "summary" : "Generate possible invoice for event registration",
        "description" : "---",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Your account identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number",
            "format" : "integer"
          }
        } ],
        "requestBody" : {
          "description" : "The same parameters as for creating new Event Registration",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EventRegistrationParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Indicates whether message was accepted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Invoice"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Invoice"
                }
              }
            }
          },
          "400" : {
            "description" : "On invalid parameters. See error details in response body.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "oAuth token was not provided, invalid or does not provide access to requested URL."
          },
          "428" : {
            "description" : "Current user should accept terms of use before using API. It can be done in web interface, or by making a POST request to /rpc/{accountId}/acceptTermsOfUse"
          },
          "429" : {
            "description" : "On too many requests from same account. Wait for a minute and try again."
          }
        }
      }
    },
    "/rpc/{accountId}/IsEventRegistrationCancellationAllowed" : {
      "get" : {
        "tags" : [ "Event registrations" ],
        "summary" : "Indicates whether the registration can be canceled by the registrant",
        "description" : "---",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Your account identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number",
            "format" : "integer"
          }
        }, {
          "name" : "registrationId",
          "in" : "query",
          "description" : "Event registration identifier",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "---",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "boolean",
                  "x-content-type" : "application/json"
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "boolean"
                }
              }
            }
          },
          "400" : {
            "description" : "On invalid parameters. See error details in response body.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "oAuth token was not provided, invalid or does not provide access to requested URL."
          },
          "428" : {
            "description" : "Current user should accept terms of use before using API. It can be done in web interface, or by making a POST request to /rpc/{accountId}/acceptTermsOfUse"
          },
          "429" : {
            "description" : "On too many requests from same account. Wait for a minute and try again."
          }
        }
      }
    },
    "/rpc/{accountId}/CancelEventRegistration" : {
      "post" : {
        "tags" : [ "Event registrations" ],
        "summary" : "Cancels event registration",
        "description" : "---",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Your account identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number",
            "format" : "integer"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "integer"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Indicates that the registration was successfully canceled",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "boolean",
                  "x-content-type" : "application/json"
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "boolean"
                }
              }
            }
          },
          "400" : {
            "description" : "On invalid parameters. See error details in response body.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "oAuth token was not provided, invalid or does not provide access to requested URL."
          },
          "404" : {
            "description" : "Requested item not found."
          },
          "428" : {
            "description" : "Current user should accept terms of use before using API. It can be done in web interface, or by making a POST request to /rpc/{accountId}/acceptTermsOfUse"
          },
          "429" : {
            "description" : "On too many requests from same account. Wait for a minute and try again."
          }
        }
      }
    },
    "/rpc/{accountId}/verifyEventRegistrationCode" : {
      "post" : {
        "tags" : [ "Events" ],
        "summary" : "Indicates whether the registration code is valid",
        "description" : "---",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Your account identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number",
            "format" : "integer"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/VerifyRegistrationCodeParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Indicates whether the registration code is valid for this event and registration type",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "boolean",
                  "x-content-type" : "application/json"
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "boolean"
                }
              }
            }
          },
          "401" : {
            "description" : "oAuth token was not provided, invalid or does not provide access to requested URL."
          },
          "428" : {
            "description" : "Current user should accept terms of use before using API. It can be done in web interface, or by making a POST request to /rpc/{accountId}/acceptTermsOfUse"
          },
          "429" : {
            "description" : "On too many requests from same account. Wait for a minute and try again."
          }
        }
      }
    },
    "/accounts/{accountId}/invoices" : {
      "get" : {
        "tags" : [ "Invoices" ],
        "summary" : "Retrieve list of invoices for the current contact.",
        "description" : "Retrieve list of invoices associated with the current contact.",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Your account identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number",
            "format" : "integer"
          }
        }, {
          "name" : "openBalanceOnly",
          "in" : "query",
          "description" : "Return only invoices with an open balance",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "eventRegistrationId",
          "in" : "query",
          "description" : "Return only those invoices related to specific event registration ID",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "This parameter specifies the number of records to be skipped. For example, if the result set contains 200 records and $skip=50, then the call will return records 51 to 200.\n\nUsually used together with **$top** parameter.\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Specifies the maximum number of records to be returned. For example, if the result set contains 100 records and $top=50, then the call will return records from 1 to 50. If omitted or set more than 100 then maximum 100 items returned.\nUsually this parameter used together with $skip parameter.\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$count",
          "in" : "query",
          "description" : "Append this parameter to a search request to retrieve the number of items returned by the search.\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "ids",
          "in" : "query",
          "description" : "Retrieve specific records (if allowed).\n\nE.g. `ids=1,2,3`\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "idsOnly",
          "in" : "query",
          "description" : "If specified, the call returns a list of record IDs. In this case, the response will contain only the Identifiers field.\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns list of filtered invoices",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Invoice"
                  },
                  "x-content-type" : "application/json"
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Invoice"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "On invalid parameters. See error details in response body.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "oAuth token was not provided, invalid or does not provide access to requested URL."
          },
          "428" : {
            "description" : "Current user should accept terms of use before using API. It can be done in web interface, or by making a POST request to /rpc/{accountId}/acceptTermsOfUse"
          },
          "429" : {
            "description" : "On too many requests from same account. Wait for a minute and try again."
          }
        }
      }
    },
    "/accounts/{accountId}/payments" : {
      "get" : {
        "tags" : [ "Payments" ],
        "summary" : "Retrieve list of payments for the current contact.",
        "description" : "Retrieve list of payments made by the current contact.",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Your account identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number",
            "format" : "integer"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "This parameter specifies the number of records to be skipped. For example, if the result set contains 100 records and $skip=50, then the call will return records 51 to 100. Usually used together with **$top** parameter.\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Specifies the maximum number of records to be returned. For example, if the result set contains 100 records and $top=50, then the call will return records from 1 to 50.\n\nUsually this parameter used together with $skip parameter.\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "$count",
          "in" : "query",
          "description" : "Append this parameter to a search request to retrieve the number of payments returned by the search.\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "idsOnly",
          "in" : "query",
          "description" : "If specified, the call returns a list of payment IDs for the filtered payments. In this case, the response will contain only the PaymentIdentifiers field.\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns list of payments",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Payment"
                  },
                  "x-content-type" : "application/json"
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Payment"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "oAuth token was not provided, invalid or does not provide access to requested URL."
          },
          "428" : {
            "description" : "Current user should accept terms of use before using API. It can be done in web interface, or by making a POST request to /rpc/{accountId}/acceptTermsOfUse"
          },
          "429" : {
            "description" : "On too many requests from same account. Wait for a minute and try again."
          }
        }
      }
    },
    "/rpc/{accountId}/acceptTermsOfUse" : {
      "post" : {
        "tags" : [ "Contacts" ],
        "summary" : "Accepts terms of use.",
        "description" : "Accepts terms of use for the currently loged in user. Does nothing if terms have been accepted already.\n",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Your account identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number",
            "format" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "401" : {
            "description" : "oAuth token was not provided, invalid or does not provide access to requested URL."
          }
        }
      }
    },
    "/rpc/{accountId}/getAllowedPaymentMethodTypes" : {
      "post" : {
        "tags" : [ "Payments" ],
        "summary" : "Retrieve allowed online payment methods",
        "description" : "Retrieve allowed online payment methods",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Your account identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number",
            "format" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of available payment methods and method descriptions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PaymentMethodTypeDescription"
                  },
                  "x-content-type" : "application/json"
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PaymentMethodTypeDescription"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "On invalid parameters. See error details in response body.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "oAuth token was not provided, invalid or does not provide access to requested URL."
          },
          "428" : {
            "description" : "Current user should accept terms of use before using API. It can be done in web interface, or by making a POST request to /rpc/{accountId}/acceptTermsOfUse"
          },
          "429" : {
            "description" : "On too many requests from same account. Wait for a minute and try again."
          }
        }
      }
    },
    "/rpc/{accountId}/startPayment" : {
      "post" : {
        "tags" : [ "Payments" ],
        "summary" : "Start payment procedure",
        "description" : "Start payment procedure for specific invoice(s)",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Your account identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number",
            "format" : "integer"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/StartPaymentParams"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Redirect URL to payment processor page, where user can enter credit card info and proceed with payment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentTrackingInfo"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentTrackingInfo"
                }
              }
            }
          },
          "400" : {
            "description" : "On invalid parameters. See error details in response body.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "oAuth token was not provided, invalid or does not provide access to requested URL."
          },
          "428" : {
            "description" : "Current user should accept terms of use before using API. It can be done in web interface, or by making a POST request to /rpc/{accountId}/acceptTermsOfUse"
          },
          "429" : {
            "description" : "On too many requests from same account. Wait for a minute and try again."
          }
        }
      }
    },
    "/rpc/{accountId}/checkPaymentStatus" : {
      "post" : {
        "tags" : [ "Payments" ],
        "summary" : "Check status of credit card payment",
        "description" : "Check the status of the credit card payment",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Your account identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number",
            "format" : "integer"
          }
        } ],
        "requestBody" : {
          "description" : "Tracking ID of payment transaction, returned from rpc/{accountId}/startPayment",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "string"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Returns current payment status",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentStatus"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentStatus"
                }
              }
            }
          },
          "400" : {
            "description" : "On invalid parameters. See error details in response body.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "oAuth token was not provided, invalid or does not provide access to requested URL."
          },
          "428" : {
            "description" : "Current user should accept terms of use before using API. It can be done in web interface, or by making a POST request to /rpc/{accountId}/acceptTermsOfUse"
          },
          "429" : {
            "description" : "On too many requests from same account. Wait for a minute and try again."
          }
        }
      }
    },
    "/rpc/{accountId}/applyForMembership" : {
      "post" : {
        "tags" : [ "Membership" ],
        "summary" : "Initiates a membership application",
        "description" : "---",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Your account identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number",
            "format" : "integer"
          }
        } ],
        "requestBody" : {
          "description" : "Parameters of membership application",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MembershipApplication"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Result of membership application - new level, new status, invoice to pay if any",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MembershipApplicationResult"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MembershipApplicationResult"
                }
              }
            }
          },
          "400" : {
            "description" : "On invalid parameters. See error details in response body.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "oAuth token was not provided, invalid or does not provide access to requested URL."
          },
          "428" : {
            "description" : "Current user should accept terms of use before using API. It can be done in web interface, or by making a POST request to /rpc/{accountId}/acceptTermsOfUse"
          },
          "429" : {
            "description" : "On too many requests from same account. Wait for a minute and try again."
          }
        }
      }
    },
    "/rpc/{accountId}/CalculateRenewalCosts" : {
      "post" : {
        "tags" : [ "Membership" ],
        "summary" : "Generate possible invoice for membership renewal",
        "description" : "---",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Your account identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number",
            "format" : "integer"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/RenewParameters"
        },
        "responses" : {
          "200" : {
            "description" : "Result of membership renewal - invoice to pay if any, next renewal date",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CalculateRenewalResult"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CalculateRenewalResult"
                }
              }
            }
          },
          "400" : {
            "description" : "On invalid parameters. See error details in response body.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "oAuth token was not provided, invalid or does not provide access to requested URL."
          },
          "428" : {
            "description" : "Current user should accept terms of use before using API. It can be done in web interface, or by making a POST request to /rpc/{accountId}/acceptTermsOfUse"
          },
          "429" : {
            "description" : "On too many requests from same account. Wait for a minute and try again."
          }
        }
      }
    },
    "/rpc/{accountId}/ApplyForRenewal" : {
      "post" : {
        "tags" : [ "Membership" ],
        "summary" : "Initiates a membership renewal",
        "description" : "---",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Your account identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number",
            "format" : "integer"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/RenewParameters"
        },
        "responses" : {
          "200" : {
            "description" : "Result of membership renewal - invoice to pay if any"
          },
          "400" : {
            "description" : "On invalid parameters. See error details in response body.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "oAuth token was not provided, invalid or does not provide access to requested URL."
          },
          "428" : {
            "description" : "Current user should accept terms of use before using API. It can be done in web interface, or by making a POST request to /rpc/{accountId}/acceptTermsOfUse"
          },
          "429" : {
            "description" : "On too many requests from same account. Wait for a minute and try again."
          }
        }
      }
    },
    "/rpc/{accountId}/CancelRenewal" : {
      "post" : {
        "tags" : [ "Membership" ],
        "summary" : "Cancels a membership renewal",
        "description" : "---",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Your account identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number",
            "format" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Result of membership renewal - invoice to pay if any"
          },
          "400" : {
            "description" : "On invalid parameters. See error details in response body.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "oAuth token was not provided, invalid or does not provide access to requested URL."
          },
          "428" : {
            "description" : "Current user should accept terms of use before using API. It can be done in web interface, or by making a POST request to /rpc/{accountId}/acceptTermsOfUse"
          },
          "429" : {
            "description" : "On too many requests from same account. Wait for a minute and try again."
          }
        }
      }
    },
    "/rpc/{accountId}/sendMessage" : {
      "post" : {
        "tags" : [ "Messaging" ],
        "summary" : "Send message to specific contact",
        "description" : "---",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Your account identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number",
            "format" : "integer"
          }
        } ],
        "requestBody" : {
          "description" : "Contact ID of recipient and message text",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SendMessageRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Indicates whether message was accepted"
          },
          "400" : {
            "description" : "On invalid parameters. See error details in response body.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "oAuth token was not provided, invalid or does not provide access to requested URL."
          },
          "428" : {
            "description" : "Current user should accept terms of use before using API. It can be done in web interface, or by making a POST request to /rpc/{accountId}/acceptTermsOfUse"
          },
          "429" : {
            "description" : "On too many requests from same account. Wait for a minute and try again."
          }
        }
      }
    },
    "/accounts/{accountId}/mobileAppSettings" : {
      "get" : {
        "tags" : [ "Settings" ],
        "summary" : "Retrieve mobile app settings.",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "Your account identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number",
            "format" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Retrieves mobile app settings",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Settings"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Settings"
                }
              }
            }
          },
          "400" : {
            "description" : "On invalid parameters. See error details in response body.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "401" : {
            "description" : "oAuth token was not provided, invalid or does not provide access to requested URL."
          },
          "428" : {
            "description" : "Current user should accept terms of use before using API. It can be done in web interface, or by making a POST request to /rpc/{accountId}/acceptTermsOfUse"
          },
          "429" : {
            "description" : "On too many requests from same account. Wait for a minute and try again."
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "AttachmentDataList" : {
        "type" : "array",
        "description" : "list of uploading files",
        "items" : {
          "$ref" : "#/components/schemas/AttachmentData"
        }
      },
      "AttachmentData" : {
        "type" : "object",
        "properties" : {
          "Name" : {
            "type" : "string",
            "description" : "attachment name"
          },
          "MimeType" : {
            "type" : "string",
            "description" : "http ContentType (MIME type)"
          },
          "Data" : {
            "type" : "object",
            "description" : "uploading file data"
          }
        }
      },
      "FileInfo" : {
        "type" : "object",
        "properties" : {
          "Id" : {
            "type" : "integer",
            "description" : "Unique attachment identifier"
          },
          "Name" : {
            "type" : "string",
            "description" : "attachment name"
          },
          "ContentType" : {
            "type" : "string",
            "description" : "http ContentType (MIME type)"
          },
          "Size" : {
            "type" : "integer",
            "description" : "File size"
          },
          "CreatedDate" : {
            "type" : "string",
            "description" : "Date and time when the file has been uploaded.",
            "format" : "datetime"
          }
        },
        "example" : {
          "ContentType" : "ContentType",
          "Size" : 6,
          "CreatedDate" : "CreatedDate",
          "Id" : 0,
          "Name" : "Name"
        }
      },
      "Settings" : {
        "type" : "object",
        "properties" : {
          "AccountId" : {
            "type" : "integer",
            "description" : "Your account identifier."
          },
          "AppForMembersAvailable" : {
            "type" : "boolean",
            "description" : "Indicates whether an app for members available or not. It's not available for free accounts."
          },
          "EnableAppForMembers" : {
            "type" : "boolean",
            "description" : "Indicates whether an app for members enabled in settings or not"
          },
          "EnableEventsList" : {
            "type" : "boolean",
            "description" : "Indicates whether an event list is available"
          },
          "EnableMemberDirectory" : {
            "type" : "boolean",
            "description" : "Indicates whether a member directory is available"
          },
          "Tags" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "description" : "tag name"
            }
          }
        },
        "description" : "n/a",
        "example" : {
          "AccountId" : 0,
          "EnableAppForMembers" : true,
          "EnableEventsList" : true,
          "AppForMembersAvailable" : true,
          "EnableMemberDirectory" : true,
          "Tags" : [ "Tags", "Tags" ]
        }
      },
      "VerifyRegistrationCodeParams" : {
        "type" : "object",
        "properties" : {
          "eventId" : {
            "type" : "integer",
            "description" : "Registration event ID"
          },
          "registrationTypeId" : {
            "type" : "integer",
            "description" : "Event registration type ID"
          },
          "code" : {
            "type" : "string",
            "description" : "Code to verify"
          }
        },
        "description" : "Set of parameters for event registration code verification"
      },
      "SendMessageRequest" : {
        "type" : "object",
        "properties" : {
          "contactId" : {
            "type" : "integer",
            "description" : "Contact ID of recipient"
          },
          "subject" : {
            "type" : "string",
            "description" : "Message subject"
          },
          "text" : {
            "type" : "string",
            "description" : "Message content in plain text"
          },
          "replyToName" : {
            "type" : "string",
            "description" : "Name used when replying to the message."
          },
          "replyToEMail" : {
            "type" : "string",
            "description" : "Email address used when replying to the message."
          }
        },
        "description" : "Set of parameters for sending private message to contact/member"
      },
      "MembershipApplication" : {
        "type" : "object",
        "properties" : {
          "membershipLevelId" : {
            "type" : "integer",
            "description" : "ID of membership level to apply for"
          },
          "fieldValues" : {
            "type" : "array",
            "description" : "Field values for membership application form",
            "items" : {
              "$ref" : "#/components/schemas/CustomFieldValue"
            }
          },
          "couponCode" : {
            "type" : "string",
            "description" : "coupon code"
          }
        },
        "description" : "Set of parameters to apply for membership"
      },
      "RenewParameters" : {
        "type" : "object",
        "properties" : {
          "CouponCode" : {
            "type" : "string",
            "description" : "coupon code"
          },
          "fieldValues" : {
            "type" : "array",
            "description" : "Field values for membership renewal form",
            "items" : {
              "$ref" : "#/components/schemas/CustomFieldValue"
            }
          }
        },
        "description" : "Set of parameters to apply for renewal"
      },
      "Account" : {
        "type" : "object",
        "properties" : {
          "Id" : {
            "type" : "integer",
            "description" : "Unique account identifier."
          },
          "Name" : {
            "type" : "string",
            "description" : "The organization name."
          },
          "Url" : {
            "type" : "string",
            "description" : "Address of API call providing account details."
          },
          "PrimaryDomainName" : {
            "type" : "string",
            "description" : "The primary domain name for the account."
          },
          "Resources" : {
            "type" : "array",
            "description" : "Collection of account-related resources.",
            "items" : {
              "$ref" : "#/components/schemas/Resource"
            }
          },
          "Currency" : {
            "$ref" : "#/components/schemas/Currency"
          },
          "Localization" : {
            "$ref" : "#/components/schemas/Localization"
          },
          "TimeZone" : {
            "$ref" : "#/components/schemas/TimeZoneDescription"
          }
        },
        "description" : "Information about Wild Apricot account",
        "example" : {
          "TimeZone" : {
            "UtcOffset" : 6.027456183070403,
            "ZoneId" : "ZoneId",
            "Name" : "Name"
          },
          "Currency" : {
            "Symbol" : "Symbol",
            "Code" : "Code",
            "Name" : "Name"
          },
          "PrimaryDomainName" : "PrimaryDomainName",
          "Id" : 0,
          "Resources" : [ {
            "Description" : "Description",
            "AllowedOperations" : "AllowedOperations",
            "Url" : "Url",
            "Name" : "Name"
          }, {
            "Description" : "Description",
            "AllowedOperations" : "AllowedOperations",
            "Url" : "Url",
            "Name" : "Name"
          } ],
          "Localization" : {
            "TimeFormat" : "TimeFormat",
            "DateFormat" : "DateFormat"
          },
          "Url" : "Url",
          "Name" : "Name"
        }
      },
      "Currency" : {
        "title" : "Account currency info",
        "type" : "object",
        "properties" : {
          "Code" : {
            "type" : "string",
            "description" : "Currency code according to ISO 4217"
          },
          "Name" : {
            "type" : "string",
            "description" : "Human-readable currency name"
          },
          "Symbol" : {
            "type" : "string",
            "description" : "Currency symbol e.g $ or €"
          }
        },
        "example" : {
          "Symbol" : "Symbol",
          "Code" : "Code",
          "Name" : "Name"
        }
      },
      "Localization" : {
        "type" : "object",
        "properties" : {
          "DateFormat" : {
            "type" : "string",
            "description" : "Format for displaying dates"
          },
          "TimeFormat" : {
            "type" : "string",
            "description" : "Format for displaying time"
          }
        },
        "example" : {
          "TimeFormat" : "TimeFormat",
          "DateFormat" : "DateFormat"
        }
      },
      "ContactsResponse" : {
        "type" : "object",
        "properties" : {
          "Contacts" : {
            "type" : "array",
            "description" : "List of contacts found.",
            "items" : {
              "$ref" : "#/components/schemas/Contact"
            }
          },
          "ContactIdentifiers" : {
            "type" : "array",
            "description" : "List of contact IDs found.",
            "items" : {
              "type" : "integer"
            }
          },
          "Count" : {
            "type" : "integer",
            "description" : "Number of contacts found. Value appears only if $count was passed in parameters."
          }
        },
        "description" : "Contains a collection of contacts or number of contacts or list of contact identifiers, depending on passed query parameters.",
        "example" : {
          "ContactIdentifiers" : [ 5, 5 ],
          "Contacts" : [ {
            "Organization" : "Organization",
            "Email" : "Email",
            "MembershipLevel" : {
              "Id" : 6,
              "Url" : null,
              "Name" : "Name"
            },
            "FirstName" : "FirstName",
            "Phone" : "Phone",
            "SendMessageAllowed" : true,
            "Id" : 0,
            "LastName" : "LastName",
            "FieldValues" : [ {
              "FieldOrder" : 1,
              "SystemCode" : "SystemCode",
              "Value" : { },
              "FieldName" : "FieldName",
              "FieldType" : "String"
            }, {
              "FieldOrder" : 1,
              "SystemCode" : "SystemCode",
              "Value" : { },
              "FieldName" : "FieldName",
              "FieldType" : "String"
            } ],
            "Url" : "Url"
          }, {
            "Organization" : "Organization",
            "Email" : "Email",
            "MembershipLevel" : {
              "Id" : 6,
              "Url" : null,
              "Name" : "Name"
            },
            "FirstName" : "FirstName",
            "Phone" : "Phone",
            "SendMessageAllowed" : true,
            "Id" : 0,
            "LastName" : "LastName",
            "FieldValues" : [ {
              "FieldOrder" : 1,
              "SystemCode" : "SystemCode",
              "Value" : { },
              "FieldName" : "FieldName",
              "FieldType" : "String"
            }, {
              "FieldOrder" : 1,
              "SystemCode" : "SystemCode",
              "Value" : { },
              "FieldName" : "FieldName",
              "FieldType" : "String"
            } ],
            "Url" : "Url"
          } ],
          "Count" : 5
        }
      },
      "Contact" : {
        "required" : [ "FieldValues", "Id" ],
        "type" : "object",
        "properties" : {
          "Id" : {
            "type" : "integer",
            "description" : "Unique contact ID."
          },
          "Url" : {
            "$ref" : "#/components/schemas/ResourceUrl"
          },
          "FirstName" : {
            "type" : "string"
          },
          "LastName" : {
            "type" : "string"
          },
          "Organization" : {
            "type" : "string"
          },
[...]
